/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	BAND TEMPLATE
	Version     :	1.0
	Last Change : 	28/01/2017
	Primary Use :   BAND TEMPLATE

=================================================================================================================================*/

/*========================================== LAYOUT ===================================================================

		1.GLOBAL STYLES
		2.COMMON STYLES
		3.THEME COLOR
		4.NAVIGATION
		5.BUTTON
		6.HEADER		
		7.ROCK MUSIC STAR
		8.BAND EVENT SCHEDULE
		9.BAND PRICE TABLE
		10.BUY TICKETS
		11.BAND LATEST NEWS
		12.FOOTER
		13.MEDIA QUERIES		

=================================================================================================================================*/

/*========================================== COLOR CODES =========================================================================

	Background         :#ffffff [white]
	Theme Color        :#111111 and ffffff 
	Button Hover Color :#ff8b55 [dark pink]
	Main Heading Color :#333333 [dark black]
	Content Color      :#666666 [light gray]

=================================================================================================================================*/

/*========================================== TYPOGRAPHY =========================================================================

	Heading:font-family: 'Open Sans', sans-serif , Arial , Vedana  , Trebuchet MS;
	Body   :font-family: 'Lato', sans-serif , Arial , Vedana  , Trebuchet MS;

=================================================================================================================================*/

/*========================================== 1.GLOBAL CSS START ===========================================*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  background: #ffffff;
  color: #f6f6f6;
  font-family: 'Lato', sans-serif , Arial , Vedana  , Trebuchet MS;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

p {
  color: #f6f6f6;
  margin: 0;
}

h2,
h3,
h4 {
  color: #ffffff;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', serif;	
	letter-spacing: 1px;
}

.band-section-padding h2 {
  font-size: 30px;
  font-weight:400;
  margin-top:0;
  margin-bottom:15px;
}

.band-section-padding h3 {
	font-size:25px;
	font-weight:500;
	text-transform:capitalize;
}

.band-section-padding h4 {
	color:#333333;
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
}

.band-section-padding h5 {
	font-size:18px;	
}

.band-section-padding h6 {
	font-size:16px;	
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/*========================================== 1.GLOBAL CSS END ===========================================*/

/*========================================== 2.COMMON CSS START ===========================================*/

.bottom-space-4 {
	padding-bottom:30px;
}

.intro-content-4 {
	margin:0 auto;
	padding-top:20px;
	width:80%;
}

.band-section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.band-section-1-bg {
  background-color:#111111; 
}

.band-section-2-bg {
  background-color:#ffffff;
}

.band-heading-div-2,
.band-heading-div {
	padding-bottom:40px;
}

.border {
	 border-bottom:2px solid #ffffff;
}

.band-heading-div-2 h2  {
	color:#333333;
}

.band-heading-div-2 p {
	color:#666666;
}

/*========================================== 2.COMMON CSS END ===========================================*/

/*========================================== 3.THEME COLOR START ============================================*/

.menu-bar-4 .navbar-nav.clearfix.fixed-header> li > a.active,
.menu-bar-4 .navbar-nav > li > a.active,
.menu-bar-4 .navbar-nav > .active > a,
.menu-bar-4 .navbar-nav > .active > a:focus,
.menu-bar-4 .navbar-nav > .active > a:hover {
  background-color: none;
  color: #666666 !important;  
}

.band-menu .navbar-nav>li > a:after,
.band-menu .navbar-nav>li.active > a:after {
    background-color: #ff8b55;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 1px;
    margin: auto 0;
    position: absolute;
    top: 0;
    transition: width 1s ease-in-out;
    width: 0%;
}

.band-menu .navbar-nav>li > a:hover:after,
.band-menu .navbar-nav>li.active > a:after {
    width: 100%;
}

.band-menu .navbar-nav>li>a {   
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

.band-pricing-div {
	background-color:#111111;
}

/*========================================== 3.THEME COLOR ENDS ============================================*/

/*========================================== 4.NAVIGATION START ===========================================*/

.menu-bar-4 .navbar-nav > li > a {	
	font-weight:500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none;
  box-shadow: none;
  background-color: unset;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-nav > li > a {
  padding: 7px 5px;
}

.menu-4 > a {
  font-size: 13px;
}

.navbar-default {
  background-color: transparent;
  background-image: none;
  border: 0px;
}

.navbar {
  border-radius: 0;
}

.navbar-nav {
	padding-bottom:12px;
	padding-top:21px;
}

.menu-4 {
    padding-left:3px;
    padding-right:3px;
}

.menu-4.menu-bar {
	padding-top:4px;
}

.logo-image-4 {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu-bar-4 {
	margin-bottom:0;
}

/*========================================== 4.NAVIGATION END ===========================================*/

/*================================================ 5.BUTTON STRAT =========================================*/

.btn-4 {
	background-color:#ff8b55;
	border: none;
	border-radius:5px;
	color: #ffffff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	letter-spacing:0.5px;
	outline: none;
	padding: 8px 20px;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-transform:uppercase;
}

.btn-4:hover {
	color: #ffffff;
}

/*================================================ 5.BUTTON ENDS ==========================================*/

/*======================================= 6.SECTION : HEADER START ========================================*/

.header-image-4 {
	background-image: url("../../band-images/1500x1000.jpg");
	padding-bottom:250px;
	padding-top:250px;	
	background-position: center center;
	background-size: cover;
}

.header-div-4 h2 {
	color:#ffffff;
	font-size:40px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

.header-div-4 p {
	background-color:#333333;
	color:#ffffff;
	margin-bottom:40px;
	margin-top:30px;
	padding:20px;
	width:30%;	
}

.header-div-4 h2 span {
	color:#ff8b55;
}

/*======================================= 6.SECTION : HEADER END ========================================*/

/*======================================= 7.SECTION : ROCK MUSIC STAR START ========================================*/

.band-about-para {
	color:#ff8b55;
	margin-bottom:15px;
}

.band-about-div .row {
	padding-bottom:30px;
}

.band-stars-row {
	margin:0 auto;
	width:70%;
}

.band-stars-col-1 {
	background-color:#ffffff;
	padding:28px 30px;
}

.band-stars-second-row {
	margin-top:30px;
}

.band-stars-col  h5{
	color:#333333;
	font-weight:bold;
	text-transform:uppercase;
}

.stadium-date {
	color:#ff8b55 !important;
	font-weight:bold;
	letter-spacing:1px;
	margin-bottom:10px;
}

.band-stars-col  p{
	color:#666666;
	letter-spacing:1px;
	margin-bottom:10px;
}

.readmore-4 {
	font-weight:bold;
	letter-spacing:1px;	
}

.readmore-4  a {
	color:#ff8b55;
}

/*======================================= 7.SECTION : ROCK MUSIC STAR END ========================================*/

/*======================================= 8.SECTION : BAND EVENT SCHEDULE START ========================================*/

.main-stadium {
	font-weight:600;
	letter-spacing:1px;
}

.band-schedule-row-1  .stadium-date {
	margin-top:10px;
}

.band-schedule-row-1 p {
	font-weight:600;
}

.band-schedule-row-2 {
	padding-bottom:20px;
}

.band-schedule-row-1 .col-sm-1 {
	padding:0;
	width:25px;
}

.band-schedule-row-1 {
	margin:0;
}

/*======================================= 8.SECTION : BAND EVENT SCHEDULE END ========================================*/

/*======================================= 9.SECTION : BAND PRICE TABLE START ========================================*/

.band-section-padding.band-video {
	padding-bottom:0;
}

.band-pricing-div { 
	padding:40px 30px;
}

.band-pricing-content ul {
	padding-left:0;
	margin-top:10px;
}

.band-pricing-content li {
	display:inline-block;
	list-style:none;
	margin-right:10px;
}

.band-pricing-content {
	padding-top:10px;
}

.band-pricing-btn {
	padding-top:20px;
}

.band-pricing-div  h5{	
	font-weight:700;
	letter-spacing:1px;
	margin-top:20px;
	text-transform:uppercase;
}

.band-pricing-div  h2{
	color:#ff8b55;
	font-size:55px;
	font-weight:700;
	margin:20px 0 20px 0;
	letter-spacing:1px;
}

/*======================================= 9.SECTION : BAND PRICE TABLE END ========================================*/

/*======================================= 10.SECTION : BUY TICKETS START ========================================*/

.universal-section {
	background-image: url("../../band-images/1500x560.jpg");
	padding-bottom:220px;
	padding-top:200px;	
	background-position: center center;
	background-size: cover;
}

.universal-div  h2{
	color:#ffffff;
	line-height:45px;
	text-transform:uppercase;
}

.basic-ticket-div {
	background-color:#111111;
	margin:0 auto;
	padding:40px 30px;
	width:80%;
}

.basic-ticket-div-1 {
	margin:0 auto;
	width:90%;
}

.basic-ticket-div-1  h3{
	font-weight:700;	
	margin:0;
	text-transform:uppercase;
}

.basic-ticket-col {
	padding-top:25px;
}

.basic-ticket-div p {
	background-color:#333333;
	padding:20px;
}

.basic-ticket-div-1 h2 {
	font-weight:700;
	padding-top:20px;
}

.basic-ticket-row {
	margin-bottom:30px;
}

/*======================================= 10.SECTION : BUY TICKETS END ========================================*/

/*======================================= 11.SECTION : BAND LATEST NEWS START ========================================*/

.band-news-col ul {
	padding-left:0;
}

.band-news-col li {
	display:inline-block;
	list-style:none;
}

.band-news-date {
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	letter-spacing:1px;
	padding-left:5px;
}

.band-news-col p {	
	margin-bottom:10px;
	margin-top:15px;
}

.band-news-col h3 {
	margin-top:10px;
}

.band-news-second-row {
	margin-top:40px;
}

/*======================================= 11.SECTION : BAND LATEST NEWS START ========================================*/

/*======================================= 12.SECTION : FOOTER START ============================================================*/

.band-footer-section {
	background-color:#ffffff;
}

.mail-4 {
	letter-spacing:1px;
	padding-top:10px;
}

.mail-4 a {
	color:#666666;
}

.band-footer-div p {
	letter-spacing:1px;
}

.band-footer-div ul {	
	padding-left:0;
}

.band-footer-div li {
	display:inline-block;
	list-style:none;
	margin-left:5px;
	margin-right:5px;
}

.band-footer-div  p {
	color:#666666;
	width:80%;
	margin:0 auto;
}

.separator {
	border-bottom:1px solid #dddddd;
	margin-bottom:30px;
	margin-top:30px;
}

/*======================================= 12.SECTION : FOOTER END =========================================================*/

/*======================================= 13.SECTION : MEDIA QUERIES START =========================================================*/

@media only screen and (min-width: 250px) and (max-width: 767px) {	
	.intro-content-4,
	.band-footer-div p {
		width:100%;
	}
	.menu-4.menu-bar {
		display:none;
	}
	.menu-4 {
		padding-left:10px;
	}
	.menu-bar-4 .navbar-nav > li > a {
		display:inline-block;
	}	
	.navbar-toggle-4 {
		margin-top:20px;
	}
	.header-div-4 {
		margin:0 auto;
		text-align:center;
	}	
	.band-about-col {
		text-align:center;
	}
	.band-about-col-1 {
		margin-top:20px;
	}
	.band-schedule-img img,
	.band-stars-col img {
		margin:0 auto;
	}
	.band-responsive-space,
	.band-stars-second-row {	
		padding-top:40px;	
	}
	.ticket-responsive {
		margin-bottom:5px;
		margin-top:30px;
	}
	
}

@media only screen and (min-width: 250px) and (max-width: 479px) { 		
	.header-div-4 p {
		margin:30px auto;
		width:100%;
	}
	.band-stars-row {
		margin:0 auto;
		width:100%;
	}	
	.band-stars-col-1 {
		width:100%;
	}
	.band-gallery-div {
		margin:0 auto;
		width:90%;
	}
	.band-pricing-table {
		margin:0 auto;
		width:300px;
	}
	.band-pricing-div {
		padding:30px 20px;
	}
	.band-pricing-div  p {
		font-size:14px;
	}
	.band-pricing-content li {
		display:table-cell;
	}
	.band-pricing-content img {
		padding-right:15px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 		
	.header-div-4 p {
		margin:30px auto;
		width:400px;
	}
	.band-gallery-div,
	.band-stars-row {
		margin:0 auto;
		width:370px;
	}
	.band-schedule-row-1 {
		margin:0 auto;
		width:80%;
	}	
	.band-pricing-table {
		margin:0 auto;
		width:360px;
	}
	.band-pricing-div {
		padding:30px 20px;
	}
	.band-pricing-div  p {
		font-size:14px;
	}
	.band-pricing-content li {
		display:table-cell;
	}
	.band-pricing-content img {
		padding-right:15px;
	}
	
}

@media only screen and (min-width: 250px) and (max-width: 360px) {	
	.band-footer-div li {
		margin:0 1px;
	}	
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.band-stars-row {
		width:100%;
	}
	.band-stars-col-1 {
		padding:18px 30px;
	}
	.band-schedule-col {
		margin:0 auto;
		width:100%;		
	}	
	.band-schedule-img img {
		margin:0 auto;
		padding-bottom:30px;
	}
	.band-schedule-row-1 {
		margin:0 auto;
		width:80%;
	}
	.band-pricing-content li {
		display:table-cell;
	}
	.band-pricing-content img {
		padding-right:15px;
	}
	.basic-ticket-div {
		padding:40px 20px;
		width:100%;		
	}
	.basic-ticket-div-1 {
		width:100%;	
	}
	.band-news-col {
		width:100%;
	}
	.band-news-img img {
		padding-bottom:30px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	.band-pricing-content li {
		display:table-cell;
	}
	.band-pricing-content img {
		padding-right:15px;
	}
	.band-stars-col-1 {
		padding:10px 30px;
	}
	.basic-ticket-div {
		width:100%;
	}
}

/*======================================= 13.SECTION : MEDIA QUERIES END =========================================================*/